/* ********** Custom Properties 
********** */
:root {
  --bg-color-primary: #f7feff;
  --bg-color: #000;
  --color-primario: #623251;
  --color-secundario: #734062;
  --color-terciario: #e7f529;
  --other-color: #ff65b5;
  --font-primary: Avenir, system-ui, sans-serif;
  --font-size: 16px;
}
/* ********** Reset ********** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

main{
  margin: 40px 50px;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
  background-color: var(--bg-color-primary);
}

#carrusel {
  width: 500px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
}

#carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.b