/* ********** Custom Properties 
********** */
:root {
  --color-primario: #6d3a5a;
  --color-secundario: #e1f1f3;
  --font-primary: Avenir, system-ui, sans-serif;
  --font-size: 16px;
}
/* ********** Reset ********** */
main{
  margin: 100px 20px;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
/* ********** Components ********** */
/* ********** Utilities ********** */
/* ********** Site Styles ********** */

.description-talla{
  width: 100%;
  text-transform: uppercase;
  font-size: larger;
  padding: 15px;
  margin: 15px;
  text-align: center;
}

section h2{
  text-align: center;
padding: 10px;
margin: 40px;
background-color: var(--color-primario);
color: var(--color-secundario);
text-transform: uppercase;
}

.description-talla h1{
  margin: 10px;
  padding: 10px;
}

.guia-talle-remeras,
.guia-talle-pantalon,
.guia-talle-zapatillas{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

table{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  max-width: 100%;
}

thead{
  border-bottom: 2px solid #6d3a5a ;
  font-weight: bold;
  text-transform: uppercase;
}


td, 
th{
  border-bottom: 2px solid #6d3a5a;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

tr:nth-child(even){
  background-color: var(--color-primario);
}

tr:hover{
  background-color: #000;
  color: var(--color-secundario);
}
