/* ********** Custom Properties 
********** */
:root {
  --bg-color-primary: #f7feff;
  --bg-color: #000;
  --color-primario: #623251;
  --color-secundario: #734062;
  --color-terciario: #e7f529;
  --other-color: #ff65b5;
  --font-primary: Avenir, system-ui, sans-serif;
  --font-size: 16px;
}
/* ********** Reset ********** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

main{
  margin: 40px 50px;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
  background-color: var(--bg-color-primary);
}

.description-talla{
  width: 100%;
  text-transform: uppercase;
  font-size: larger;
  padding: 15px;
  margin: 15px;
  text-align: center;
}

section h2{
  margin: 40px;
  background-color: var(--color-primario);
  color: var(--bg-color-primary);
  text-align: center;
padding: 10px;
text-transform: uppercase;
}

.description-talla h1{
  margin: 10px;
  padding: 10px;
}

.guia-talle-remeras,
.guia-talle-pantalon,
.guia-talle-zapatillas{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

table{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  max-width: 100%;
}

thead{
  border-bottom: 2px solid #6d3a5a ;
  font-weight: bold;
  text-transform: uppercase;
}


td, 
th{
  border-bottom: 2px solid #6d3a5a;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

tr:nth-child(even){
  background-color: var(--color-primario);
}

tr:hover{
  background-color: #000;
  color: var(--bg-color-primary);
}
