/* ********** Custom Properties 
********** */
:root {
  --bg-color: #000;
  --color-primario: #6d3a5a;
  --color-secundario: #e1f1f3;
  --color-terciario: #FFd35e;
  --other-color: #FF65b5;
  --font-primary: Avenir, system-ui, sans-serif;
  --font-size: 16px;
}
/* ********** Reset ********** */

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
/* ********** Components ********** */
/* ********** Utilities ********** */
/* ********** Site Styles ********** */


/* Estilos header */

header{
  background: var(--color-primario);
  width: 100%;
}

/* Estilos main */
body{
  background-color: #e1f1f3;
}

/* Estilos a section */

section{
  width:inherit;
  margin-bottom: 10px;
  padding: 10px;
}

/* Estilos nav */

.nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

/* estilos logo */

.logo {
  display: flex;
  align-items: center;
  min-width: fit-content;
  height: min-content;
}

.logo img {
  width: 80px;
  height: min-content;
  border-radius: 50%;
}

.nav-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: baseline;
  max-width: 100%;
  min-width: fit-content;
  height: min-content;
}

.nav-container ul li{
  padding: 0 40px;
}

.nav-container ul a {
  color: var(--color-secundario);
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: min-content;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

ul a:hover{
  border-bottom: 1px solid var(--color-secundario);
  color: #000;
}


/* Estilos video */

.container-video{
  background-color: #000;
  display: flex;
  min-width: fit-content;
  max-width: fit-content;
  
  
}

video{
  width: 100%;
  padding: 5px 5px;
  margin: 5px 5px;
}

/* Estilos carrousel */

.container-carrousel{
  background-color: #000;
  display: flex;
  flex-grow: 1;
}

.slider {
  display: flex;
  overflow-x: auto;
}

.container-carrousel img{
  width: 100%;
  height: 500px;
  margin: 5px 5px;
  background: var(--other-color);
  flex: 1; 
  mask-image: linear-gradient(black 90%, transparent); /*avitar que se vea el recorte de la imagen*/
  object-fit: cover; /*Recorta la imagen sin perder calidad*/
  /*border-radius: 5px;
  scroll-snap-align: center;*/
}


/* Estilos para redes y up */

.container-redes-up{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  position: sticky;
  border-radius: 10px;
  bottom: 50px;
}

.redes-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 150px;
  border-radius: 10px;
  gap: 10px;
  color: var(--color-secundario);
  font-weight: bold;
  background: var(--color-primario);
}

.up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 45px;
  border-radius: 30%;
  color: var(--color-secundario);
  font-weight: bold;
  background: var(--color-primario);
  scroll-behavior: smooth;
}

.redes-contacto a,
.up a{
  color: var(--color-secundario);
  text-decoration: none;
}

.redes-mas-up i{
  font-size: 25px;
}


/* Inicio Estilos footer */

footer {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  flex-flow: row wrap;
  background-color: var(--color-primario);
  height: min-content;
  padding: 10px;
}

footer ul{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
  padding: 10px;
  margin: 20px;
  /* background-color: #98a1b1bb; */
}

footer ul li > a {
  display: block;
  color: var(--color-secundario);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 10px;
  letter-spacing: 10px;

}

