/* ********** Custom Properties 
********** */
:root {
  --bg-color: #000;
  --color-primario: #6d3a5ade;
  --color-secundario: #e9eff0;
  --color-terciario: #e7f529;
  --other-color: #ff65b5;
  --font-primary: Avenir, system-ui, sans-serif;
  --font-size: 16vw;
}
/* ********** Reset ********** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}


/* Estilos header */

header {
  background: var(--color-primario);
  width: 100%;
}

/* Estilos main */
body {
  background-color: #e1f1f3;
}

/* Estilos nav */

.nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

/* estilos logo */

.logo {
  display: flex;
  align-items: center;
  min-width: fit-content;
  height: min-content;
}

.logo img {
  width: 80px;
  height: min-content;
  border-radius: 50%;
  opacity: 0.8;
}

.nav-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: baseline;
  max-width: 100%;
  min-width: fit-content;
  height: max-content;
}

.nav-container ul li {
  padding: 0 10px;
}

.nav-container li a {
  color: var(--color-secundario);
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  height: min-content;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 3px;
}

.nav-links li a:hover {
  border-bottom: 1px solid var(--color-secundario);
  color: #000;
}


.acces-login li a i {
  font-size: 35px;
  color: var(--color-terciario);
}

.access-login li a:hover {
  color: var(--bg-color);
  font-size: 40px;
}

/* Estilos video */

.container-video {
  background-color: #000;
  display: flex;
  min-width: fit-content;
  max-width: fit-content;
}

.container-video video {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 5px;
}

/* Estilos carrousel */

.container-carrousel {
  background-color: #000;
  display: flex;
  flex-grow: 1;
}

.slider {
  display: flex;
  overflow-x: auto;
}

.container-carrousel img {
  width: 100%;
  height: 500px;
  margin: 5px 5px;
  background: var(--other-color);
  mask-image: linear-gradient(
    black 90%,
    transparent
  ); /*avitar que se vea el recorte de la imagen*/
  object-fit: cover; /*Recorta la imagen sin perder calidad*/
  /*border-radius: 5px;
  scroll-snap-align: center;*/
}

/* Estilos para redes y up */

.container-redes-socroll-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  position: sticky;
  bottom: 50px;
  z-index: 9999;
}

.redes-contacto,
.scroll-top {
  color: var(--color-secundario);
  background: var(--color-primario);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 40px;
  height: fit-content;
  border-radius: 10px;
  gap: 15px;
  font-weight: bold;
}

.scroll-top {
  scroll-behavior: smooth;
}

.redes-contacto a,
.scroll-top a {
  color: var(--color-secundario);
  text-decoration: none;
}

.container-redes-socroll-top a i {
  font-size: 20px;
}

/* Inicio Estilos Newsletter */

.newsletter {
  background: var(--color-terciario);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  height: fit-content;
  padding: 15px;
  gap: 10px;
  margin-top: auto;
}

.newsletter h5,
div {
  font-family: var(--font-primary);
  font-size: 1.5vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  padding: 10px;
}

.newsletter div {
  align-content: center;
  align-items: center;
  background-color: #000;
  margin: 0 10px;
  padding: 0 10px;
}

.newsletter div a {
  width: max-content;
  font-weight: 700;
  color: var(--color-secundario);
  margin: 10px;
  padding: 10px;
}

.newsletter i {
  font-size: 20px;
}

/* Inicio Estilos footer */

footer {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  flex-flow: row wrap;
  background-color: var(--color-primario);
  height: max-content;
  padding: 25px 10px;
  margin-top: auto;
  
}

footer h5 {
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 10px;
  letter-spacing: 10px;
}

.tiendas ul li a,
.asistencia ul li a {
  display: block;
  width: 100%;
  color: var(--color-secundario);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 10px;
  letter-spacing: 10px;
}

footer ul a:hover {
  border-bottom: 1px solid var(--color-secundario);
  color: #000;
}
