/* ********** Custom Properties 
********** */
:root {
  --bg-color-primary: #f7feff;
  --bg-color: #000;
  --color-primario: #623251;
  --color-secundario: #734062;
  --color-terciario: #e7f529;
  --other-color: #ff65b5;
  --font-primary: Avenir, system-ui, sans-serif;
  --font-size: 16px;
}
/* ********** Reset ********** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

main{
  margin: 40px 50px;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
  background-color: var(--bg-color-primary);
}


/* Estilos header */

header {
  background: var(--color-primario);
  justify-content: center;
  align-content: center;
  width: 100%;
}

/* Estilos main */
body {
  background-color: var(--bg-color-primary);
}

/* Estilos nav */

.nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

/* estilos logo */

.logo {
  display: flex;
  align-items: center;
  min-width: fit-content;
  height: min-content;
}

.logo img {
  width: 80px;
  height: min-content;
  border-radius: 50%;
  opacity: 0.8;
}

.nav-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  
  max-width: 100%;
  width: 100%;
}

.nav-container ul li {
  padding: 0 5px;
}

.nav-container li a {
  color: var(--bg-color-primary);
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  height: min-content;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-links li a:hover {
  border-bottom: 1px solid var(--bg-color-primary);
  color: #000;
}


.acces-login li a i {
  font-size: 35px;
  color: var(--color-terciario);
}

.access-login li a:hover {
  color: var(--bg-color);
  font-size: 30px;
}

/* Estilos video */

.container-video {
  background-color: #000;
  display: flex;
  min-width: 100%;
  max-width: fit-content;
}

.container-video video {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 5px;
}

/* ------------------------------Estilos carrousel */

.container-carrousel {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.container-carrousel img {
  width: 100%;
  height: 500px;
  margin: 5px 5px;
  mask-image: linear-gradient(
    black 90%,
    transparent
  ); /*avitar que se vea el recorte de la imagen*/
  object-fit: cover; /*Recorta la imagen sin perder calidad*/
}

.btn-left i,
.btn-right i{
  font-size: 25px;
  color:var(--bg-color-primary);
  position: absolute; 
  bottom: 50%;
  z-index: 999;
  cursor: pointer;

}

.btn-left i{
  left: 5px; 

}

.btn-right i{
  right: 5px;
}


/* Estilos para redes y up */

.container-redes-socroll-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  position: sticky;
  bottom: 50px;
  z-index: 9999;
}

.redes-contacto,
.scroll-top {
  color: var(--bg-color-primary);
  background: var(--color-primario);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 40px;
  height: fit-content;
  border-radius: 10px;
  gap: 15px;
  font-weight: bold;
}

.scroll-top {
  scroll-behavior: smooth;
}

.redes-contacto a,
.scroll-top a {
  color: var(--bg-color-primary);
  text-decoration: none;
}

.container-redes-socroll-top a i {
  font-size: 20px;
}

/* Inicio Estilos Newsletter */

.newsletter {
  background: var(--color-terciario);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: fit-content;
  padding: 15px;
  gap: 10px;
  margin-top: auto;
}

.newsletter h5,
div {
  font-family: var(--font-primary);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  padding: 10px;
}

.newsletter div {
  align-content: center;
  align-items: center;
  background-color: #000;
  margin: 0 10px;
  padding: 0 10px;
}

.newsletter div a {
  width: max-content;
  font-weight: 700;
  color: var(--bg-color-primary);
  margin: 10px;
  padding: 10px;
}

.newsletter i {
  font-size: 20px;
}

/* Inicio Estilos footer */


footer .footer-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: var(--color-primario);
  height: max-content;
  padding: 25px 10px;
  margin-top: auto;
  position: absolute;
  margin-bottom: 0;
  width: 100%;
}

footer h2 {
  font-family: var(--font-primary);
  text-transform: uppercase;
  padding: 5px 0;
  text-align: center;
}

.tiendas ul li a,
.asistencia ul li a {
  color: var(--bg-color-primary);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
  padding: 5px;
  font-size: small;
}

footer ul a:hover {
  border-bottom: 1px solid var(--bg-color-primary);
  color: #000;
}
