/* ********** Custom Properties 
********** */
:root {
  --bg-color: #000;
  --color-primario: #6d3a5ade;
  --color-secundario: #e9eff0;
  --color-terciario: #e7f529;
  --other-color: #ff65b5;
  --font-primary: Avenir, system-ui, sans-serif;
  --font-size: 16vw;
}
/* ********** Reset ********** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

/* Estilos main */
body {
  background-color: #e1f1f3;
}

body > main{
  margin: 100px 20px;
}

.titulo { 
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.titulo h1{
  font-size: x-large;
  text-transform: uppercase;
  padding: 20px;
  margin: 20px;
}

/* Estilos Section */

section{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  min-width: 600px;
  gap: 30px;
}

.local-sl,
.local-cordoba,
.local-bs {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  border-top: solid;
  border-bottom: solid;
  padding: 30px;
  background-color: var(--color-primario);
}

section header{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px;
  color: var(--color-secundario);
  text-transform: uppercase;
  letter-spacing: 4px;
}

section footer{
  display: block;
  width: 100%;
  min-width: fit-content;
  color: var(--color-secundario);
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px;
  letter-spacing: 10px;
}

section footer p{
  font-weight: bold;
}

.local-sl a,
.local-cordoba a,
.local-bs a {
  color: var(--bg-color);
  margin: 15px 0;
  width: 100%;
  font-weight: 500;
  padding: 10px;
}

.local-sl a:hover,
.local-cordoba a:hover,
.local-bs a:hover {
  border-bottom: 1px solid var(--color-secundario);
  color: #000;
}

.local-sl iframe,
.local-cordoba iframe,
.local-bs iframe {
max-width: 80%;
}