/* ********** Custom Properties 
********** */
:root {
  --bg-color: #000;
  --color-primario: #6d3a5ade;
  --color-secundario: #e9eff0;
  --color-terciario: #e7f529;
  --other-color: #ff65b5;
  --font-primary: Avenir, system-ui, sans-serif;
  --font-size: 16px;
}
/* ********** Reset ********** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

main{
  margin: 100px 20px;
}


/* Estilos - Descripción */

.container-description{
  text-align: center;
  padding: 20px;
  margin: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

/* Estilo a Formulario */

.container-sections{
  background-color: #e7f529;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  width: 100%;
  gap: 10px;
}

section{
  width: 50%;

}

  .container-login h1,
  .container-create-acount h1{
    text-align: center;
  }

  .container-login,
  .container-create-acount{
    background-color: #ff65b5;
    width: fit-content;
  }

  .container-login{
    height: 100%;
  }

    .container-login form,
    .container-create-acount form {
      background-color: aqua;
      display: flex;
      flex-flow: column nowrap;
      padding: 10px;
      margin: 10px;
      gap: 10px;
    }

    form label{
      font-weight: 500;
      box-sizing: border-box;
    }

    form input[type="email"],
    form input[type="password"] {
      height: 30px;
    }

    .container-remember-reset-pass{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      gap: 15px;
    }

        .container-remember-reset-pass div{
          display: flex;
          font-size: 16px;
          text-transform: capitalize;
        }

        .container-remember-reset-pass div a:hover{
        text-decoration-line: underline;
        }

        .btn-container{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          flex: 1 1 auto;
          gap: 5px;
        }

        .btn{
          width: 45%;
          border: none;
          text-align: center;
          text-transform: uppercase ;
          font-weight:bolder;
          font-family: var(--font-primary);
          height: 30px;
          border-radius: 5px;
          padding: 5px;
        }

        .btn-submit{
          background-color: #42f742;
        }

        .btn-submit:hover{
          background-color: #68f168;
          color: var(--color-secundario);
        }

        .btn-reset{
          min-width: fit-content;
        }


  .container-create-acount{
    background-color: #ff65b5;

  }
    .container-create-acount form{
      background-color: aqua;
    }