/* ********** Custom Properties 
********** */
:root {
  --bg-color-primary: #f7feff;
  --bg-color: #000;
  --color-primario: #623251;
  --color-secundario: #734062;
  --color-terciario: #e7f529;
  --other-color: #ff65b5;
  --font-primary: Avenir, system-ui, sans-serif;
  --font-size: 16px;
}
/* ********** Reset ********** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

main{
  margin: 40px 50px;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
  background-color: var(--bg-color-primary);
}

.description-container h1{
  padding: 10px;
  margin: 10px;
}

.description-container{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

section{
  background-color: var(--color-primario);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 100%;
  width: min-content;
  margin: auto;
  margin-top: 30px;
}

form,
fieldset{
  color: var(--bg-color-primary);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-width: 200px;
  max-width: 100%;
  width: 1000px;
  margin: auto;
  padding: 30px;
  gap: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bold;
}

form input{
  height: 35px;
}

span{
  color: red;
  font-weight: bolder;
}

form button{
  border: none;
  height: 30px;
  text-align: center;
  text-transform:uppercase;
  font-weight: bold;
  color: #000;
  background-color: lightblue;
}

form button:hover{
  background-color: lightskyblue;
} 